:root {
    --main-color: #AE9EA1;
    --bg-color: #F0E7E9;
    --bg-color-dark: #2A2A2A;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 6rem;;
}

body {
    background-color: var(--bg-color);
    color: var(--bg-color-dark);
}

body.dark {
    background-color: var(--bg-color-dark);
}

.overflow-hidden {
    overflow: hidden;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
    width: 100%;
    max-width: 100vw;
    /* border: 4px rgba(177, 88, 88, 0.209) solid; */

    overflow-x: hidden;

    font-size: 1.5rem;
}

.rotator_section {
    /* border-color: blue; */
    /* background-color: aquamarine; */
    /* background-color: rgb(16, 16, 16); */
    overflow: hidden;
    position: fixed;
    max-width: 100vw;
    max-height: 100vh;
    inset: 0;
    pointer-events: none;
    z-index: -1;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
    min-height: 100svh;
    max-height: 100svh;
}

.circle-background {
    position: absolute;
}

.circle-section-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
}

/* *  {
    overflow: visible !important;
}
section {
    transform: scale(.25);
    overflow: visible;
} */

.circle-section {
    overflow: visible;
}

.circle-section,
.init-circle-section {
    /* background: rgba(255, 255, 255, 0.412); */
    border-radius: 100%;
    position: relative;
    border: 2px var(--main-color) solid;
    /* width: 45vw;
    height: 45vw; */
    width: 96vw;
    height: 96vw;
    left: 0vw;
    top: 0vw;
    /* transform: rotate(45deg); */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    top: 55vw;
    /* left: -80vw; */
}

.init-circle-section {
    position: absolute;
    top: -55vw;
    margin: auto;
    left: auto;
    right: auto;
    background-color: transparent;
}

/* .circle-list-container {
    opacity: 0;
} */

.circle-list-el-container {
    /* background-color: rgb(226, 105, 105); */
    width: 250vw;
    height: 420px;
    transform-origin: top left;
    position: absolute;
    /* border-top: 2px var(--main-color) solid; */
    left: 50%;
    padding-left: 70vw;
    justify-items: start;
    background-color: transparent !important;
    overflow: visible;
}

.slice-line-divider {
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--main-color);
    margin-top: -1px;
    left: 0;
    opacity: 0;
    opacity: 0;
    transition: opacity .5s ease;
    transform-origin: top left;
}

.slice-line-divider.main {
    opacity: 1;
    display: none;
    /* background-color: red; */
}

.has-box .slice-line-divider {
    background-color: green;
}


.box_row_container {
    width: 100%;
    position: relative;
    overflow: visible;
}
.box_row_container_inner {
    position: relative;
    display: flex;
    gap: 8vw;
    align-items: center;
    overflow: visible;
    flex-wrap: nowrap;
    white-space: nowrap;
    left: -20vw;
}

.line_box_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 8rem;
    background-color: var(--bg-color);
    border: 1px var(--main-color) solid;
    bottom: -10rem;
    left: 0rem;
    position: absolute;
}

.line_box_circle {
    position: absolute;
    top: -.6rem;
    margin: auto;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
    /* background: red; */
}

.circle-list-el-content {
    opacity: .25;
}

.circle-list-el-container:nth-child(2) {
    background-color: rgb(122, 176, 88);
    transform: rotateZ(22.5deg);
}
.circle-list-el-container:nth-child(3) {
    background-color: rgb(106, 92, 200);
    transform: rotateZ(45deg);
}
.circle-list-el-container:nth-child(4) {
    background-color: rgb(200, 132, 92);
    transform: rotateZ(67.5deg);
}
.circle-list-el-container:nth-child(5) {
    transform: rotateZ(90deg);
}
.circle-list-el-container:nth-child(6) {
    background-color: rgb(122, 176, 88);
    transform: rotateZ(112.5deg);
}
.circle-list-el-container:nth-child(7) {
    background-color: rgb(106, 92, 200);
    transform: rotateZ(135deg);
}
.circle-list-el-container:nth-child(8) {
    background-color: rgb(200, 132, 92);
    transform: rotateZ(157.5deg);
}

.circle-list-el-container:nth-child(9) {
    transform: rotateZ(180deg);
}
.circle-list-el-container:nth-child(10) {
    transform: rotateZ(202.5deg);
}
.circle-list-el-container:nth-child(11) {
    transform: rotateZ(225deg);
}
.circle-list-el-container:nth-child(12) {
    transform: rotateZ(247.5deg);
}
.circle-list-el-container:nth-child(13) {
    transform: rotateZ(270deg);
}
.circle-list-el-container:nth-child(14) {
    transform: rotateZ(292.5deg);
}
.circle-list-el-container:nth-child(15) {
    transform: rotateZ(315deg);
}
.circle-list-el-container:nth-child(16) {
    transform: rotateZ(337.5deg);
}

.circle-list-el-content {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    padding: 1.5rem;
}

.init_lines_container {
    position: absolute;
    display: flex;
    max-width: 100vw;
    height: 100svh;
    top: -4px;
    left: 0;
    right: 0;
    opacity: 1;
}

.init_lines_container.left {
    left: 0;
}

.border_square.left {
    left: 0;
}

.border_square.right {
    right: 0;
}

.border_square {
    position: relative;
    width: 50%;
    height: 100%;
    margin-top: 1px;
}

.border_square.left::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    transform: translate(0px, 50svh) rotate(45deg);
    background-color: var(--main-color);
    transform-origin: center right;
}

.border_square.left::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    transform: translate(0px, 50svh) rotate(-45deg);
    background-color: var(--main-color);
    transform-origin: center right;
}


.border_square.right::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    transform: translate(0px, 50svh) rotate(-45deg);
    background-color: var(--main-color);
    transform-origin: center left;
}

.border_square.right::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    transform: translate(0px, 50svh) rotate(45deg);
    background-color: var(--main-color);
    transform-origin: center left;
}

.circle_mask,
.circle_mask_light {
    position: absolute;
    inset: auto;
    width: 0vw;
    height: 0vw;
    background-color: var(--bg-color-dark);
    border-radius: 100%;
    z-index: 0;
}

.circle_mask_light {
    background-color: var(--bg-color);
}

.hide {
    display: none;
}